@tailwind base;
@tailwind components;
@tailwind utilities;

/* Skjul scrollbar */
/* Vi har brugt chat-gpt til at fortælle hvordan vi skjuler og styler den indbyggede scroll-bar */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: black;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: #fff3;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}

:root {
  --bg: black;
}

html {
  scroll-behavior: smooth
}

body {
  background-color: var(--bg);
  color: #F5F5F5;
}

main {
    margin: 5%;
}
