@tailwind base;
@tailwind components;
@tailwind utilities;

/* Skjul scrollbar */
/* Vi har brugt chat-gpt til at fortælle hvordan vi skjuler og styler den indbyggede scroll-bar */
@media (max-width: 650px) {
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: #EC5564;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}
}

@media (min-width: 650px) {
::-webkit-scrollbar {
  display: none;
}
}

:root {
  --bg: black;
}

html {
  scroll-behavior: smooth
}

body {
  background-color: var(--bg);
  color: #F5F5F5;
}

main {
    margin: 5%;
}
