@tailwind base;
@tailwind components;
@tailwind utilities;

/* Skjul scrollbar */
::-webkit-scrollbar {
  display: none;
}

:root {
  --bg: black;
}

html {
  scroll-behavior: smooth
}

body {
  background-color: var(--bg);
  color: #F5F5F5;
}

main {
    margin: 5%;
}
