.skib {
  animation: animate 30s infinite linear;

  @media (max-width: 750px) {
    animation: animate 12s infinite linear;
  }
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-18%);
  }
}
